<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>jY6qeUCqfUpyyyDKKqahS7YBcE7O7zeC6VOD4toqPN4ajRs1icjB0+ijiszyFkTlqgZEwn1hlrT7fg0sRm3KBj+n/zufn8PGw0GBHZ+qHuskTMTko+2hKu3ytzeCYRRtBGpuAbFc2YQm3hmGoHaiYZGux4pMFD9bG7xDHDW7n8tpRuf9kOMOCjEJyrYxRcxwr5DQlA9iJlrqOWQ7Yja5BsKd7IY8n1T3mLHuZFlsgfcdFG1XaX+p3KusOnU9Q5HdMJWvYcu1uVIY/w9C6zWTGeLPPtByVJe14SJSATiXiznvKz5yZa1+0UfnKehsftmhOkSq8o3AIT/mbmI+xbMCVA==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>uH+80kuOfc/Wesd8z5aADcnDa4w+FM1H6RqlpRp2FfXhdSNW3fZYi0nxkAtX/HoxgaYDAGUjoqjVe0Hmma31N5PIIBsaVrs/jzdFUTofYf15sphKNL+4B7C3TtPymz6fcE13Jpcu13JM+332vb3qZHO3LKK9HUA2RQYXe02R9be4tJeBaM7KMXuyLba8zw1B9CqoE8JvvrVYr+LKexL5RRnMj80q7M/wZJPGdr/WLKWDF/33dFfi6CT71o9J595yqgllPmf39MAfUKYtNRAQnXgL8zOK6e+A6QQhBuut44pctrC+i6CRPJKeDHviE1rhzEG3qs0RjcgrpMfZlOR0bhD4Xkunvoz0Cy82wQYfa9Ub1F2+jgYJKGX4JYMbHcNsoGeR816gm5ibkYEf6/xG5MS17AQE9foCgtC4BcuLLBj4NlDB18aYz/gRlt9rKza/4Jez37I/ZA3tZotEj7S6OtRuVj2DulGFz5jr9i9gmppMfGKDqVeRzDiLxfydl6dQkJ4zZ/NER4iweD/ImHNBXZNxasJVJVqJjMk2CEuZ0a/cnRHvu3vHj8prbNmBvrxSOk+pGDeWG88eIFmAfrfr15C9X7lUxkyq6xNiJjZqpYlY29jfyBGR1bnAaHjULBf5</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>